 body {
    margin: 0;
}
.header{
    background-color:#F55A5A ;
    display: flex;
    justify-content: center;
    color:white;
    height: 55px;
    align-items: center;
}
header > img{
  width:24px;
  padding-right: 7px;
}