* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 120px;
    font-size: large;
  
}
.header {
  display: flex;
  background-color: #21222A;
  position: relative;
  height: 90px;
  padding: 15px;
}
.slogon{
  color: #61DAFB;
  font-size: xx-large;
  padding-top: 20px;
}
 ul li::marker{
  color: #61DAFB;
  font-size: large;
}
