* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}


.header {
  display: flex;
  gap: 7px;
  background-color: #21222A;
  position: relative;
  height: 90px;
  padding: 15px;
}
.slogon{
  color: #61DAFB;
  font-size: xx-large;
  padding-top: 20px;
}
 ul li::marker{
  color: #61DAFB;
  font-size: large;
}
.main{
  padding: 60px 30px;
}
main >h1{
  font-size: 39px;
}
.list{
  max-width: 400px;
  margin-top: 46px;
}
.list > li {
  margin-block: 10px;
}